* {
    margin: 0;
}

#editor * {
    font-family: monospace !important;
    direction: ltr !important;
    text-align: left !important;
}

.header {
    background: #57a958;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    font-family: sans-serif;
}

.EditorHeader {
    text-align: left;
    background: #1e1e21;
}

.control-panel {
    background: #18181a;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
    color: white;
}

.languages {
    background: white;
    border: 1px solid gray;
}

#editor {
    height: 400px;
}

.button-container {
    text-align: right;
    padding: 4px;
}

.btn {
    background: #57a958;
    color: white;
    padding: 8px;
    border: 0;
}

.output {
    padding: 4px;
    border: 2px solid gray;
    min-height: 100px;
    width: 99%;
    resize: none;
    text-align: start;
}