.Challenges {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px auto;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}