.UserPublicProfile {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Header {
    background-color: #ffffff;
    min-height: 15vh;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}