.UserCard {
    width: 500px;
    height: 580px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 10px 1px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.upper-container {
    height: 100px;
    background: #E5B248;
}

.image-container img {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(195px, 45px);
    margin-left: auto;
    margin-right: auto;
}

.image-user-other-profil img {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
}

img {
    border: 1px solid #5d5857;
}

.lower-container {
    margin-top: 60px;
    height: 30px;
    background: white;
    text-align: center;
    font-family: sans-serif;
}

.lower-container h3 {
    margin: 0;
    padding: 0;
}

.Box {
    margin-left: 10px;

}

#update {
    margin-top: 35px;
    font-weight: bold;
    font-family: sans-serif;
    background: #E5B248;
    color: white;
}

