.PostContainer {
    padding: 10px;
    margin: 10px auto;
    width: 90%;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.NoPostFound {
    color: darkgray;
    font-weight: bold;
}

.ClickableCard {
    flex-direction: column;
    width: 100%;
}
