.Header {
    background-color: #ffffff;
    min-height: 15vh;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.SnippetsButton {
    font-family: Mukta, sans-serif !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
}

.ExercisesButton {
    font-family: Mukta, sans-serif !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
}

.ChallengesButton {
    font-family: Mukta, sans-serif !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
}