@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');

.Dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Dashboard-body {
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}
