@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

* {
    font-family: 'Montserrat', sans-serif !important;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Centered {
    text-align: center;
    margin: auto 0 !important;
}

.NotFound {
    width: 400px;
    margin: 4em;
}

.Bold {
    font-weight: bold !important;
}

.GoHome {
    font-size: 2em;
    color: black;
}

.ButtonWithoutBackgroundAndBorders {
    background: transparent;
    border: none;
    color: white;
}

.LinkWithoutFormat {
    color: inherit;
    text-decoration: inherit;

}

.SpacedButton {
    margin: 0.5em;
}

.CapitalizedButton {
    margin: 0.5em !important;
    text-transform: initial !important;
}

.CapitalizedButtonWithoutMargin {
    text-transform: initial !important;
}

.CircularLoader {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto
}

.Button {
    font-family: Mukta, sans-serif !important;
    text-transform: capitalize !important;
    margin: 5px !important;
}

.LogoutButton {
    font-weight: bold !important;
    color: #d4384c !important;
}

.search-results {
    position: absolute;
    top: 100%;
    width: 100%;
    max-width: 500px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #1e1517;
    background-color: rgb(72, 71, 80);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1;
}

.notifications {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 15%;
    max-width: 500px;
    border: 1px solid #1e1517;
    background-color: rgb(72, 71, 80);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1;
}

.HighlightedLanguage {
    margin: 0 auto;
    text-align: center;
}

.HighlightedCode {
    margin: 0 auto;
    text-align: left;
}